{% if page.tags and page.tags.size > 0 %}
  <div class="catalog-row catalog-tags">
    <span class="catalog-key">TAGS</span>

    <ul class="page-taxonomies">
      {% assign tags = page.tags | sort %}
      {% for tag in tags %}
        <li class="page-taxonomy">
          {%- assign tag_escaped = tag | uri_escape -%}
          {%- assign want1 = "/tags/" | append: tag_escaped -%}
          {%- assign want2 = want1 | append: "/" -%}

          {%- assign found_url = "" -%}
          {%- for p in site.pages -%}
            {%- if p.url == want1 or p.url == want2 -%}
              {%- assign found_url = p.url -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}

          {%- if found_url != "" -%}
            <a href="{{ found_url | relative_url }}" rel="tag">{{ tag }}</a>
          {%- else -%}
            <a href="{{ want1 | relative_url }}" rel="tag">{{ tag }}</a>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
